@media (max-width: 991px) {
    #hero-bg {
       height: auto;
    }
}

nav {
	background-color: #e7e1cb;
	font-family: "EB Garamond", serif !important;
	font-optical-sizing: auto !important;
	font-weight: 600 !important;
	font-style: normal !important;
	padding: 0 !important;
}

.navbarNav .nav-link {
  color: #15171A;
}


body {
	background-color: #e7e1cb !important;
	font-family: "EB Garamond", serif !important;
	color: #15171A;
}

#title-header {
	font-size: 50px;
}

#subtitle {
	font-size: 2vw;
	font-optical-sizing: auto !important;
	font-weight: 500 !important;
	font-style: normal !important;
}

#hero-bg {
	background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), 
	                  url('https://images.unsplash.com/photo-1534110522683-a12a21d31420?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	max-height: 670px;
	min-height: 280px;
	height: 670px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: white;
}

#hero {
	font-size: 4vw;
	font-optical-sizing: auto !important;
	font-weight: 500 !important;
	font-style: normal !important;
	color: #fff;
}

#lang {
	font-size: 1vw;
	font-weight: 500 !important;
}

#sub-hero {
	background-color: #e7e1cb;
}

#sub-hero-image {
	background-image: url("https://images.unsplash.com/photo-1680458841639-8393e9a8b06e?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	height: 30vw;
	width: 100%;
}

#about-profile {
	background-image: url("./assets/about-profile.png");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	height: 28vw;
	width: 100%;
}

#about-info {
	max-width: 750px;
}

.accordion {
	--bs-accordion-btn-bg: #e7e1cb !important;
	--bs-accordion-border-color: darkgray !important;
	--bs-accordion-bg: #e7e1cb !important;
	--bs-accordion-active-bg: none !important;
	--bs-accordion-btn-focus-box-shadow: none !important;
}

#projects-backend {
	background-image: url("./assets/backend.png");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	height: 25vw;
	width: 100%;
}

#artwork-1 {
	background-image: url("./assets/clouds.png");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	height: 300px;
	width: 100%;
}

#artwork-2 {
	background-image: url("./assets/corners.jpg");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	height: 350px;
	width: 100%;
}

#tools-frontend {
	background-image: url("./assets/frontend.png");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	height: 400px;
	width: 100%;
}

#tools-mern {
	background-image: url("./assets/mern.png");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	height: 300px;
	width: 100%;
}

#tools-dev {
	background-image: url("./assets/dev.png");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	height: 400px;
	width: 100%;
}

#contact-facebook {
	background-image: url("./assets/facebook.png");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	height: 54px;
	width: 54px;
}

#contact-linkedin {
	background-image: url("./assets/linkedin-logo.png");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	height: 54px;
	width: 54px;
}

#contact-github {
	background-image: url("./assets/github-logo.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 54px;
	width: 54px;
}